body{
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: rgb(31, 183, 243);
   padding: 50px;
   color: white;
   width: 90%;
   }
h1{
display: inline-block;
font-size: 50px;
margin-right: 100px;



}
.child{
display: inline-block;
margin-left: 100px;
}
p{
    margin: 5px;
}
span{
font-weight: 900;

}
.partwo{
    width: 90%;
    margin: auto;
}
.partwo span{
    margin-top: 30px;
    display: inline-block;
}
.fastul{
    display: inline-block;
    margin-left: 100px;
}
.sendul{
    display: inline-block;
    margin-left: 200px;
}
li{
    margin: 10px;
}
.web{
    display: inline;
}
.pa{
    display: inline;
}
.com{
    font-weight: 900;
}
.ph{
    font-weight: 900;
}
.ja{
    font-weight: 900;
}